<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <h1><center><font color="white">Ansible Workshop Progress - {{ ansible_date_time.time }}</font></center></h1>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>student</th>
	    {% for exercises in labs  %}
	    <th>{{ exercises.exercise }}</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['lab_environments']  %}
        <tr>
            <td>{{ hostvars[host].inventory_hostname }}</td>
	    {% for exercises in labs  %}
	    <td>{{ hostvars[host][exercises.exercise] }}</td>
            {% endfor %}
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
